<p style="color: green"><%= notice %></p>

<h1>Modelos</h1>

<div id="modelos">
  <% @modelos.each do |modelo| %>
    <%= render modelo %>
    <p>
      <%= link_to "Show this modelo", modelo %>
    </p>
  <% end %>
</div>

<%= link_to "New modelo", new_modelo_path %>
